*.pdf filter=lfs diff=lfs merge=lfs -text
*.nupkg filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
Consulta_medica.Infrastructure/bin/Debug/net6.0/runtimes/win-x64/native/libcef.dll filter=lfs diff=lfs merge=lfs -text
Consulta_medica.Infrastructure/bin/Debug/net6.0/runtimes/win-x86/native/libcef.dll filter=lfs diff=lfs merge=lfs -text
Consulta_medica/bin/Debug/net5.0/IronPdf.Native.Chrome.Windows.2023.3.12968.nupkg filter=lfs diff=lfs merge=lfs -text
